.tel-input {
  margin-left: 8px;
  outline: none;
  width: 100%;
  background-color: transparent;
  color: #0f0f0fb3;
}

.tel-input::placeholder {
  color: #a6a6a6;
  font-size: small;
  opacity: 1;
}
