.tel-input {
  margin-left: 8px;
  outline: none;
  /* width: 100%; */
  width: 100%;
  flex: 1;
  background-color: transparent;
  color: #0f0f0fb3;
  border: none;
  font-size: 0.875rem;
}

.tel-input::placeholder {
  color: #a6a6a6;
  /* font-size: small; */
  font-size: 0.875rem;
  opacity: 1;
}
